{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.04.25"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"]}
           :format {:extra-paths ["scripts"]
                    :extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                    :main-opts ["-m" "tools.format"]}
           :eastwood {:main-opts ["-m" "eastwood.lint" {}]
                      :extra-deps {jonase/eastwood {:mvn/version "1.2.3"}}}}}
